<div class="col-md-6">
<h3>Tweets</h3>
  <% if user_signed_in? %>
  <div class = "d-flex content-center">
				<%= gravatar_image_tag(current_user.email, size: 64, class: "rounded-circle mr-2", alt: current_user.name) %>
			 <%= render 'tweeets/form' %>
	</div>
  <% end %>
  <% @tweeets.each do | tweeet | %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p><%= tweeet.tweeet %></p>
          </div>
        </article>
      </div>
    <% end %>
  </div>
