<div class="col-md-3">
	<nav class="nav nav-pills flex-column text-center">
		<a class="nav-link" href="#">Trend1</a>
		<a class="nav-link" href="#">Trend2</a>
		<a class="nav-link" href="#">Trend3</a>
		<a class="nav-link" href="#">Trend4</a>
		<a class="nav-link" href="#">Trend5</a>
		<a class="nav-link" href="#">Trend6</a>
	</nav>
</div>