<div class="col-md-3">
  <h3 class = "text-center">Who to follow</h3>
  <ul class="list-unstyled">
    <% if @users.size > 0 %>
      <% @users.each do|user|%>
      <li class="media mb-2">
        <%= gravatar_image_tag(user.email, size: 64, alt: user.name, class: "rounded-circle mr-2") %>
        <div class="media-body">
          <h5 class="mt-0 mb-1"><strong><%= user.name%></strong></h5>
          <small><%= user.username%></small>
        </div>
      </li>
    <% end%>
    <% else %>
      No users yet :(
    <% end %>
    
  </ul>
</div>
